* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.screen-reader-text {
  display: none;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 30px 0 0 0;
}

.search-container {
  text-align: center;
  margin-top: -160px;
}

.widget_search form:before, .widget_search form:after {
  content: "";
  display: table;
}

.widget_search form:after {
  clear: both;
}

.widget_search form {
  zoom: 1;
}

.widget_search {
  padding: 15px;
  background: #444;
  background: rgba(0, 0, 0, .2);
  border-radius: 10px;
  margin: 20px 0 0 0;
}

.widget_search label {
  display: inline;
}

.widget_search .search-field {
  width: 65%;
  height: 40px;
  padding: 10px 5px;
  float: left;
  font-weight: bold;
  font-size: 15px;
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #666;
  font-style: italic;
  font-weight: normal;
}

.widget_search .search-field:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.widget_search .search-field::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.widget_search .search-field:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.widget_search .search-field:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.widget_search .search-submit, .btn {
  font-size: 1em;
  display: block;
  overflow: visible;
  position: relative;
  float: left;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 35%;
  color: #fff;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  background: #00b7ea;
  background: linear-gradient(to bottom, #00b7ea 0%, #009ec3 100%);
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.widget_search .search-submit:hover, .btn:hover {
  background: #00a8e5;
  background: linear-gradient(to bottom, #00a8e5 0%, #008cc4 100%);
}


#loading {
  text-align: center;
  padding-top: 30px;
  display: none;
}

#notFound {
  display: none;
  text-align: center;
  padding: 30px;
  font-size: 32px;
}

#map {
  height: 450px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 10px;
  border: 7px solid #cdcdcd;
}

#errorMessage {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #f7533a;
}

table {
  width: 100%;
}

th, td {
  padding: 20px;
  border-bottom: 1px solid #c5c5c4;
}

footer {
  text-align: center;
  padding: 60px 0;
  font-size: 14px;
}