<?php
$this->headLink()
    ->prependStylesheet('assets/css/styles.css')
    ->prependStylesheet('https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    ->prependStylesheet('https://fonts.googleapis.com/css?family=Montserrat');
$this->inlineScript()
    ->prependFile('assets/js/scripts.js')
    ->prependFile('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    ->prependFile('https://code.jquery.com/jquery-3.3.1.min.js');
?>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="shortcut icon" href="https://framework.zend.com/ico/favicon.ico"/>
    <?= $this->headTitle('zend-expressive')->setSeparator(' - ')->setAutoEscape(false) ?>
    <?= $this->headMeta() ?>
    <?= $this->headLink() ?>
</head>
<body class="app">
<header class="app-header">
  <div class="container">
    <h1> Let's scrap!</h1>
  </div>
</header>

<div class="app-content">
  <main class="container">
      <?= $this->content ?>
  </main>
</div>

<footer class="app-footer">
  <div class="container">
    <hr/>
    <p>
      &copy; <?= date('Y') ?> by Gilberto Albino. All rights reserved.
    </p>
  </div>
</footer>

<?= $this->inlineScript() ?>
</body>
</html>
