<?php $this->headTitle('Home'); ?>

<div class="row">
  <div class="col-md-12">
    <div class="widget widget_search">
      <form role="search" method="get" class="search-form">
        <label>
          <span class="screen-reader-text">Scrap by:</span>
          <input type="search" id="searchField" class="search-field" placeholder="Type in a Twitter username" value=""
                 name="s" data-swplive="true" data-swpengine="default" data-swpconfig="default" autocomplete="off">
        </label>
        <input type="submit" id="searchButton" class="search-submit screen-reader-text" value="Crawl">
      </form>
    </div>
    <div id="loading"><img src="assets/img/loading.gif" alt=""></div>
    <div id="responseData">
    </div>
    <div id="errorMessage"></div>
</div>

  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSUmJPWaQ4KO98AHvWjM9XUqbIe273N7Y"></script>
</div>