<br>
<h2 id="username"><?= $username; ?></h2>
<ul>
  <li>Place name: <?= $placeName; ?></li>
  <li id="googleMapsLink"><a href="<?= $googleMapsLink; ?>" target="_blank">Google Map Link</a></li>
</ul>
<div id="map"></div>
<script>
  var citymap = {
    location: {
      center: {lat: <?= $latitude; ?>, lng: <?= $longitude; ?>},
      population: 10000
    }
  };

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {lat: <?= $latitude; ?>, lng: <?= $longitude; ?>},
      mapTypeId: 'roadmap'
    });

    for (var city in citymap) {
      var cityCircle = new google.maps.Circle({
        strokeColor: '#00a8e5',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#00b7ea',
        fillOpacity: 0.35,
        map: map,
        center: citymap[city].center,
        radius: Math.sqrt(citymap[city].population) * 100
      });
    }
  }
</script>